*.iml
.gradle
/module_compose/build
/module_common/build
/module_function/build
/module_java/build
/module_kotlin/build
/build
.idea
app/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
